body {
  font-family: 'Lato', sans-serif;
  font-size: 54px;
  background-image: url('../assets/current/enya-wall.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0;
  padding: 0;
  transition: transform 1s ease;
}

h1 {
  color: hwb(0 2% 52%);
  margin-top: 275px;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke-width: 5px;
}

button {
  padding: 10px 20px;
  font-size: 44px;
  background-color: #a1450b;
  color: hwb(0 100% 0% / 0.998);
  border: solid #451f08;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 1s ease, transform 1s ease;
  margin-top: 15px;
}

button:hover {
  background-color: #592404;
  -webkit-text-fill-color: #ffffff;
}

button:active {
  transform: scale(0.95); /* Add a slight scale when button is clicked */
}

.spotify-embed {
  position: relative;
  bottom: 20%; 
}


#questionContainer {
  margin: 20px auto;
  padding: 15px;
  background-color: hwb(0 65% 35%);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 700px;
}

#questionContainer p {
  font-size: 38px;
  color: #ffffff;
  margin: 0;
}

#imageContainer {
  margin: 20px auto;
}

#imageContainer img {
  max-width: 100%;
  border-radius: 8px;
  display: block; /* Ensure the image does not have extra space below */
}

#loadingText::after {
  content: '';
  display: inline-block;
  animation: loading 2s infinite;
}

@keyframes loading {
  0% {
    content: ' ';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
}

/* brick animation */ 

@keyframes brickfall {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 100vh;
    opacity: 1;
  }
}

@keyframes bricksway {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 50px;
  }
  50% {
    margin-left: -50px;
  }
  75% {
    margin-left: 50px;
  }
  100% {
    margin-left: 0;
  }
}

#brick-container {  
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: opacity 500ms;
  width: 100%;
}

.brick {
  animation: brickfall ease-in infinite, bricksway ease-in-out infinite;
  color: rgb(254, 254, 254);
  position: absolute;
}
